body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 1300px;
    margin: 0px auto;
    position: relative;
}


.header{
    margin: 53px 52px 49px;
}


.nav_ul{
    text-align: center;
}


.nav_li{
    display: inline-block;
}


.nav_li:not(:last-of-type) {
    margin-right: 46px;
}


.nav_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}


.backround{
    text-align: center;
    background-image: url(../IMG/img_backround.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.backround_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    padding-top: 138px;
}


.backround_button{
    width: 420px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;  
    margin: 14px 0px 180px;
}


.description{
    background-color: rgba(26, 110, 136, 0.71);;
    text-align: center;
}


.description_text{
    max-width: 726px;
    margin: 0px auto ;
    padding: 133px  0px;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}


.text{
    max-width: 696px;
    margin: 220px auto 123px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    position: relative;
}


.text_regtangle::before{
    content: "";
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    top: -121px;
    left: -370px;
}


.text_regtangle2::before{
    content: "";
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    bottom: 65px;
    left: -65px;
}


.text_regtangle::after{
    content: "";
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    top: 20px;
    right: -370px;
}


.text_ellipse::before{
    content: "";
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #5C98AB;
    position: absolute;
    top: -56px;
    left: -30px;
}


.text_ellipse::after{
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #BFDEFB;
    position: absolute;
    bottom: -70px;
    right: -160px;
}
    

.form-section{
    max-width: 647px;
    margin: 63px auto 100px;
}


.input_wrapper{
    position: relative;
    margin-bottom: 45px;
}


.input{
    width: 100%;
    line-height: 49px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 36px 0px 11px 34px;
    box-sizing: border-box;
}


.label{
    position: absolute;
    left: 34px;
    top: 14px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}


.input::placeholder{
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}


.form_button{
    width: 100%;
    height: 92px;
    background: #5C98AB;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}